<div class="card">
  <img
    src="{{ book ?? 'assets/imagens/capa-indisponivel.png'}}"
    alt="Capa do livro">
  <div class="info-card">
    <p class="titulo">{{ book }}</p>
    <p class="informacoes">Autoria:</p>
    <p class="resultado">{{ book }}</p>
    <p class="informacoes">Data de publicação:</p>
    <p class="resultado">{{ book }}</p>
    <p class="informacoes">Editora:</p>
    <p class="resultado">{{ book }}</p>
    <button>Mais detalhes</button>
  </div>
</div>
<div *ngIf="modalAberto">
  <app-modal-livro [book]="book" (mudouModal)="onModelChange($event)"></app-modal-livro>
</div>

